.ad-card {
	width: 250px;
}
.ad-card--body {
	display: flex;
	padding: 0;
	flex-direction: column;
	align-items: center;
	margin-bottom: 20px;
}

.ad-card--image {
	width: 100%;
	height: 175px;
	margin-bottom: 0.5rem;
}
